@model List<ContactViewModel>
@{
    Layout = null;
}

<style type="text/css">
    .style1 {
        border: 1px solid #000000;
    }

    .style2 {
        color: #FFFFFF;
        background-color: #0099FF;
    }

    .style3 {
        background-color: #EEEEEF;
    }
    .no-bullet {
        list-style-type: none;
        padding: 0;
        margin-bottom: 2px;
    }
    .style4 {
        background-color: #CCCCCC;
    }
    .style5 {
        background-color: #CCCCCC;
        color: #000000;
        font-size:11px;
    }


</style>


<table class="style1">
    <thead class="style2">
        <tr>
            <th style="height: 26px" class="style5">Name</th>
            <th style="height: 26px" class="style5">Organization</th>
            <th style="height: 26px" class="style5">Phone</th>
            <th style="height: 26px" class="style5">Email</th>
            <th style="height: 26px" class="style5">Notes</th>
            <th style="height: 26px" class="style5">Image</th>
            <th style="height: 26px" class="style5">Inquiry Date</th>
            <th style="height: 26px" class="style5">Exists?</th>
            <th style="height: 26px" class="style5">Action</th>
            <th style="height: 26px" class="style5">Sales Rep?</th>
            <th style="height: 26px" class="style5">Update</th>

        </tr>
    </thead>
    <tbody>
        @for (int index = 0; index < Model.Count; index++)
        {
            <tr id="@Model[index].ContactID">
                <td class="style3">
                    @Html.HiddenFor(m => m[index].ContactID)
                    @(Model[index].FirstName + " " + Model[index].LastName)
                </td>
                <td class="style3">@Model[index].Organization</td>
                <td class="style3">@Model[index].Phone<br></td>
                <td class="style3">
                    @Model[index].EmailAddress
                </td>
                <td class="style3">
                    <a href="#" onclick="return loadNotesWindow('@("notes" + Model[index].ContactID)', '@(Model[index].FirstName + " " + Model[index].LastName)', 'Notes')">Notes</a>
                    <div id="@("notes" + Model[index].ContactID)" style="display: none;">
                        <div style="white-space: pre;">
                            @Model[index].Notes
                        </div>
                    </div>
                </td>
                <td class="style3">
                    @if (Model[index].AttachmentUrl != null)
                    {
                        <a href="#" onclick="return loadNotesWindow('@("notesimage" + Model[index].ContactID)', '@(Model[index].FirstName + " " + Model[index].LastName)', 'Attachment')">Image</a>
                        <div id="@("notesimage" + Model[index].ContactID)" style="display: none;">
                            <div style="white-space: pre;">
                                <img src="@Url.Content("~/Data/" + Model[index].AttachmentUrl)" />
                            </div>
                        </div>
                    }
                </td>
                <td class="style3">@Model[index].CreateDate</td>
                <td class="style3">@(Model[index].DuplicateInd ? "Yes" : "No")</td>
                <td nowrap="nowrap" class="style3">
                    <ul class="no-bullet">
                        @foreach (var opt in Model[index].ActionOptions)
                        {
                            string optId = Model[index].ContactID.ToString() + "-action-" + opt.Value;
                            object optattributes = new { id = optId, @class = "tight" };

                            <li>
                                @Html.RadioButtonFor(m => m[index].Action, opt.Value, optattributes)
                                <label for="@optId" class="radio-margin">@opt.Text</label>
                            </li>
                        }
                    </ul>

                </td>
                <td class="style3">
                    @{
                        string selectid = Model[index].ContactID.ToString() + "-rep";
                        object selectattributes = new { id = selectid };
                    }
                    @Html.DropDownListFor(m => m[index].SalesRep, Model[index].Users, selectattributes)
                </td>
                <td class="style3">
                    @Html.HiddenFor(m => m[index].Task)
                    <a href="#" class="button tiny round" onclick="UpdateContact(@Model[index].ContactID.ToString(), '@Url.Content("~/api/contactact")')">Update</a> 
                    @*<a href="#">
                        <img src="/ltis/images/update16.gif" alt="Update ACT" title="Update ACT" border="0">
                    </a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
