@model List<LTIS.Models.ContactViewModel>
@{
    ViewBag.Title = "Contacts";
}

<div class="text-center">
    <h3>Contact Integration</h3>
</div>
<p class="success">@ViewBag.Message</p> 
@using (Html.BeginForm())
{
<table class="table-display">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Organization</th>
            <th>Email Address</th>
            <th>Phone</th>
            <th>Street Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Notes</th>
            <th>Create Date</th>
            <th colspan="4">Action</th>
        </tr>
    </thead>
    <tbody>
        @for(int index = 0; index < Model.Count; index++ )
        {
            <tr>
                <td>
                    @Html.HiddenFor(m => m[index].ContactID)
                    @Model[index].FirstName
                </td>
                <td>@Model[index].LastName</td>
                <td>@Model[index].Organization</td>
                <td>@Model[index].EmailAddress</td>
                <td>@Model[index].Phone</td>
                <td>@Model[index].StreetAddress</td>
                <td>@Model[index].City</td>
                <td>@Model[index].State</td>
                <td>@Model[index].Zip</td>
                <td>
                    <a href="#" onclick="return loadNotesWindow('@("notes" + Model[index].ContactID)', '@(Model[index].FirstName + " " + Model[index].LastName)')">Notes</a>
                    <div id="@("notes" + Model[index].ContactID)" style="display:none">@Model[index].Notes</div>
                 </td>
                <td>@Model[index].CreateDate</td>
                @foreach (var opt in Model[index].options)
                {
                    bool optChecked = opt.Key == 1;
                    string optId = Model[index].ContactID.ToString() + "-" + opt.Key;
                    object attributes;
                    if ((opt.Key == 1 && !Model[index].DuplicateInd) || opt.Key == 2 && Model[index].DuplicateInd)
                    {
                        attributes = new { id = optId, Checked = "checked" };
                    }
                    else
                    {
                        attributes = new { id = optId };
                    }

                    <td class="table-radio">
                        @if (opt.Key != 2 || Model[index].DuplicateInd)
                        {
                            @Html.RadioButtonFor(m => m[index].SelectedOption, opt.Key, attributes)<label for="@optId" class="radio-margin">@opt.Value</label>
                        }
                    </td>
                }

            </tr>
        }
    </tbody>
</table>
    <br />
    <div class="text-center">
        <input type="submit" value="Update ACT" />
    </div>
}

<script>
    function loadNotesWindow(id, name) {
        var notesWindow = $("#" + id);
        if (!notesWindow.data("kendoWindow")) {
            notesWindow.kendoWindow({
                width: "400px",
                height: "200px",
                title: "Notes for " + name
            });
        }

        notesWindow.data("kendoWindow").open().center();

        return false;
    }
</script>