@model List<ContactViewModel>
@{
    ViewBag.Title = "Contacts";
}

<div class="text-center">
    <h3>Contact Integration</h3>
</div>
<p class="success">@ViewBag.Message</p>
@using (Html.BeginForm())
{
    <table class="table-display">
        <thead>
            <tr>
                <th>Name</th>
                <th>Organization</th>
                <th>Phone/Email Address</th>
                <th>Address</th>
                <th>Notes</th>
                <th>Attachment</th>
                <th>Create Date</th>
                <th>Action</th>
                <th>Sales Rep</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (int index = 0; index < Model.Count; index++)
            {
                <tr>
                    <td>
                        @Html.HiddenFor(m => m[index].ContactID)
                        @(Model[index].FirstName + " " + Model[index].LastName)
                    </td>
                    <td>@Model[index].Organization</td>
                    <td>@Model[index].Phone<br>@Model[index].EmailAddress</td>
                    <td>
                        @Model[index].StreetAddress<br>
                    @Model[index].City<br>
                    @Model[index].State @Model[index].Zip
                </td>
                <td>
                    <a href="#" onclick="return loadNotesWindow('@("notes" + Model[index].ContactID)', '@(Model[index].FirstName + " " + Model[index].LastName)', 'Notes')">Notes</a>
                    <div id="@("notes" + Model[index].ContactID)" style="display: none; white-space: pre;">@Model[index].Notes</div>
                </td>
                <td>
                    @if (Model[index].AttachmentUrl != null)
                    {
                        <a href="#" onclick="return loadNotesWindow('@("notesimage" + Model[index].ContactID)', '@(Model[index].FirstName + " " + Model[index].LastName)', 'Attachment')">Image</a>
                        <div id="@("notesimage" + Model[index].ContactID)" style="display: none; white-space: pre;">
                            <img src="@Url.Content("~/Data/" + Model[index].AttachmentUrl)" />
                        </div>
                    }
                </td>
                <td>@Model[index].CreateDate</td>
                <td>
                    @Html.DropDownListFor(m => m[index].Action, Model[index].ActionOptions)
                    <input type="radio" name="action" />
                </td>
                <td>
                    @Html.DropDownListFor(m => m[index].SalesRep, Model[index].Users)
                </td>
                <td>
                    @Html.HiddenFor(m => m[index].Task)
                    <button>Update ACT</button> 
                </td>

            </tr>
            }
        </tbody>
    </table>
    <br />
    <div class="text-center">
        <input type="submit" value="Update ACT" />
    </div>
}
